extends layout

block backMenu
  a.backMenu(href=`/category/${id}`) BACK

block actionMenu
  div.actionMenu
    a(href=`/category/${id}`) Cancel

block main 
  section
    h1 Edit Category
    p 
    form(action=`/categories/edit/${id}` method="post") 
      dl 
        div.formRow
          dt 
            label(for="category") Title:
          dd 
            input(type="text" id="category" name="category" placeholder="Title" value= category) 
      fieldset.formButtons 
        input(type="submit" value="Edit")