extends layout

block backMenu
  a.backMenu(href="/home") Home

block actionMenu
  div.actionMenu
    a(href=`/categories/edit/${categoryId}`) Edit Category
    form.delete(action=`/categories/delete/${categoryId}` method="post")
      button.deletion Delete Category

block main 
  section
    h1= categoryTitle
    ul.resultList   
      each recipe in recipes 
        li  
          a(href=`/recipe/${categoryId}/${recipe.id}`)= recipe.recipe 