extends layout

block backMenu
  a.backMenu(href=`/home`) BACK

block actionMenu
  div.actionMenu
    a(href=`/home`) Cancel

block main 
  section
    h1 New Category
    p 
    form(action="/categories/new" method="post") 
      dl 
        div.formRow
          dt 
            label(for="category") Title:
          dd 
            input(type="text" name="category" placeholder="Title" value= category) 
      fieldset.formButtons 
        input(type="submit" value="Save")