extends layout

block backMenu 
  div.backMenu
    a(href="/recipes/all") all Recipes
block actionMenu
  div.actionMenu
    a(href="/categories/new") Add a category
    a(href="/recipes/new") Add a Recipe 
block main 
  section
    h1 What do you want to prepare today?
    ul.resultList   
      each category in categories 
        li  
          a(href=`/category/${category.id}`)= category.category 