extends layout

block backMenu 
block actionMenu
block main 
  section
    h1 What do you want to prepare?
    ul.resultList   
      each category in categories 
        li  
          a(href=`/category/${category.id}`)= category.category 