extends layout

block backMenu 
  a.backMenu(href="/home") Home
block actionMenu
  div.actionMenu
    a(href="/categories/new") Add a category
    a(href="/recipes/new") Add a Recipe 
block main 
  section
    h1 All your Recipes
    table(style='width:90%', border='1')
      tr
        th RECIPE 
        th CATEGORY
        th SERVES 
        th TIME
      each recipe in recipes 
        tr
          td= recipe.recipe
          td= recipe.catName
          td= recipe.serves
          td= recipe.prep_time


//- When listing collections and objects, limit the amount of output per page to a maximum item count (say, 5 or 10 items per page). If there are more than this number of items, the user should be able to scroll through the data in chunks of the maximum item count. This process is called pagination.
//- See the Launch School Forum for an example of an application that uses pagination -- the LS App itself displays 15 posts per page in the lesson discussion area.
//- Unlike the LS App, your project should validate the page number and issue an appropriate error message if the URL is given with an invalid page number.