extends layout

block backMenu
  a.backMenu(href=`/home`) HOME

block actionMenu
  div.actionMenu
    a(href=`/home`) Cancel

block main 
  section
    h1 New Recipe
    form(action="/recipes/new" method="post") 
      dl.recipeForm
        .formRow
          dt 
            label(for="recipe") Title:
          dd 
            input(type="text" name="title" placeholder="Title" value=title) 
        .formRow
          dt 
            label(for="category") Category:
          dd 
            select(id="category" name="category")
              each category in categories 
                option(value= category.id) #{category.category}
        .formRow
          dt 
            label(for="serves") Serves:
          dd 
            input(type="number" name="serves" placeholder="Serves" value= serves)
        .formRow
          dt 
            label(for="prep_time") Preparation time (in minutes):
          dd 
            input(type="number" name="prep_time" placeholder="Minutes" value= prep_time)
        .formRow
          dt 
            label(for="ingredients") Ingredients (comma separated):
          dd 
            textarea(name="ingredients", cols="30", rows="10") #{ingredients}
        .formRow
          dt 
            label(for="steps") Preparation steps:
          dd 
            textarea(name="steps", cols="30", rows="10") #{steps}

      fieldset.formButtons 
        input(type="submit" value="Save")