extends layout

block backMenu 
block actionMenu
block main 
  section.welcome
    h1 Reciper 
    p All your recipes in just one click.
    - if (username)
      a.button(href="/home") View Recipes
    - else 
      a.button(href="/user/signin") Sign In